body {
    font-family: 'Arial', sans-serif;
    background-color: #3498db;
    margin: 0;
    padding: 0;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #2c3e50;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #3498db;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    width: 70%;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #2980b9;
}

#weatherInfo {
    margin-top: 20px;
}

.forecast {
    background-color: #34495e;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    display: inline-block;
}

.forecast p {
    margin: 5px 0;
}

/* Media query for responsiveness */
@media (max-width: 500px) {
    input {
        width: 100%;
    }
}
