body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    width: 70%;
    margin-bottom: 10px;
}

button {
    padding: 8px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#weatherInfo {
    margin-top: 20px;
}

.forecast {
    background-color: #ecf0f1;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}

.forecast p {
    margin: 5px 0;
}
